<% blogs.each do |blog| %>
	<div class="mm-blog-item row">
		<%= link_to "#{blog[:link]}", target: "_blank" do %>
			<div class="mm-blog-title">
				<%= blog[:title].html_safe %>
			</div>
			<div class="mm-blog-desc">
				<%= blog[:description].html_safe %>
			</div>
			<div class="mm-blog-name">
				<span class="mm-logo-font">@</span><%= blog[:blogger_name] %>
			</div>
		<% end %>
	</div>
<% end %>
