<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
			<h2>회원가입</h2>
			<%= form_for(:user, url: signup_path) do |f| %>
				<%= render 'fields', f: f %>
				<%= f.submit "회원가입", class: "btn btn-primary btn-orange" %>
			<% end %>

		</div>
	</div>
</div>
