<!-- Main body of Home -->
<!-- Index section 01 -->
<div id="home01">
	<div class="container-fluid">
		<div class="row">
			<h2 id="mm-index-h2">이 세상 모든 메뉴판이 검색되는 그날까지</h2>
		</div>
		<div class="row">
			<h1 id="mm-index-h1">MenuMap</h1>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<a href="/search">
					<button id="mm-index-btn" class="btn btn-block btn-primary">음식점 검색하러 가기<span class="glyphicon glyphicon-search"></span></button>
				</a>
			</div>
		</div>
	</div>	
</div>

<!-- Index section 02 -->
<div id="home02">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<p><span class="mm-logo-font">MenuMap</span>은</p>
			</div>
			<div class="col-md-7">
				<blockquote>
					<h3 class="mm-index-h3">온라인 메뉴제공 서비스입니다.</h3>
					<h3 class="mm-index-h3">객관적인 정보를 전달합니다.</h3>
					<h3 class="mm-index-h3">여러분과 함께 만들어갑니다.</h3>
				</blockquote>
			</div>
		</div>
	</div>
</div>

<!-- Index section 03 -->
<div id="home03">
	<div class="container">
		<div id="mm-index-step-title" class="row">
			<h4 id="mm-index-h4">이 세상 모든 메뉴판이 검색되는 그날까지 <span class="mm-logo-font">MenuMap</span></h4>
			<h5 id="mm-index-h5">간편 매뉴얼</h5>
		</div>
	</div>
</div>

<!-- Index section 04 -->
<div id="home007">
	<div class="container">

		<div class="row">
			<div>
				<h6 class="mm-index-h6"><span class="mm-logo-font">Step 1.</span> 검색</h6>
				<div class="col-md-6">
					<div class="intro-image1"></div>
				</div>
				<div class="col-md-6 mm-index-step-contents">
					<p>찾고자 하는 지역, 음식분류</p>
					<p>또는 음식점 상호를 입력하고</p>
					<p>검색을 눌러주세요!</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div>
				<h6 class="mm-index-h6 mm-index-h6-2nd"><span class="mm-logo-font">Step 2.</span> 포스트</h6>
				<div class="col-md-6 col-md-push-6">
					<div class="intro-image2"></div>
				</div>
				<div class="col-md-6 col-md-pull-6 mm-index-step-contents">
					<p>객관적인 필터링으로</p>
					<p>자신이 입력한 조건에 맞는</p>
					<p>음식점들이 나오면, 관심있는</p>
					<p>음식점 페이지를 클릭해주세요!</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div>
				<h6 class="mm-index-h6"><span class="mm-logo-font">Step 3.</span> 상세 페이지</h6>
				<div class="col-md-6">
					<div class="intro-image3"></div>
				</div>
				<div class="col-md-6 mm-index-step-contents">
					<p>상세 페이지를 통해</p>
					<p>해당 음식점의 메뉴와</p>
					<p>기본 정보들을</p>
					<p>한 눈에 볼 수 있습니다.</p>
				</div>
			</div>
		</div>

	</div>
</div>
