<!-- Main body of Home -->
<!-- First Introduction -->
<div id="home01">
	<div class="container">
		<div class="row">
			<p>이 세상 모든 메뉴판이 검색되는 그날까지</p>
		</div>
		<div class="row">
			<p>MenuMap</p>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a href="/search">
					<button class="btn btn-block btn-primary"><p>음식점 검색하러 가기</p><span class="glyphicon glyphicon-search"></span></button>
				</a>
			</div>
		</div>
	</div>	
</div>

<!-- Second Intro -->
<div id="home02">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p><span class="menumap-text">MenuMap</span>은</p>
			</div>
			<div class="col-md-8">
				<ol>
					<li>온라인 메뉴제공 서비스입니다.</li>
					<li>객관적인 정보를 전달합니다.</li>
					<li>여러분과 함께 만들어갑니다.</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<!-- Short manual title -->
<div id="home03">
	<div class="container">
		<div class="row">
			<p><span class="menumap-text">MenuMap</span> 간편 매뉴얼</p>
		</div>
	</div>
</div>

<!-- Short Manual 01 -->
<div id="home04">
	<div class="container">
		<div class="row">
			<p><span class="menumap-text">Step 1.</span> 검색</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="image">
				</div>
			</div>
			<div class="col-md-6">
				<ul>
					<li>찾고자 하는 지역, 음식분류</li>
					<li>또는 음식점 상호를 입력하고</li>
					<li>검색을 눌러주세요!</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Short Manual 02 -->
<div id="home05">
	<div class="container">
		<div class="row">
			<p><span class="menumap-text">Step 2.</span> 포스트</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li>객관적인 필터링으로</li>
					<li>자신이 입력한 조건에</li>
					<li>해당하는 음식점들이 보여지면</li>
					<li>해당하는 포스트를 클릭해주세요!</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="image">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Short Manual 03 -->
<div id="home06">
	<div class="container">
		<div class="row">
			<p><span class="menumap-text">Step 3.</span> 상세 페이지</p>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="image">
				</div>
			</div>
			<div class="col-md-6">
				<ul>
					<li>상세 페이지를 통해</li>
					<li>해당 음식점의 메뉴와</li>
					<li>기본 정보들을</li>
					<li>한 눈에 볼 수 있습니다.</li>
				</ul>
			</div>
		</div>
	</div>
</div>

