<!-- Main body of Home -->
<!-- First Introduction -->
<div id="home01">
	<div class="container">
		<div class="row">
			<p>이 세상 모든 메뉴판이 검색되는 그날까지</p>
		</div>
		<div class="row">
			<p>MenuMap</p>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<a href="/search">
					<button class="btn btn-block btn-primary"><p>음식점 검색하러 가기</p><span class="glyphicon glyphicon-search"></span></button>
				</a>
			</div>
		</div>
	</div>	
</div>
