<!-- Main body of Home -->
<div id="home01">
	<div class="container">
		<div id="menumap-home-logoinfo" class="row">
			<p>이 세상 모든 메뉴판이 검색되는 그날까지</p>
		</div>
		<div class="row center">
			<p id="menumap-home-logo">MenuMap</p>
		</div>
	</div>	
</div>
