<div class="mm-rest-info mm-menu">
	<div class="mm-rest-info-title">
		<h3 class="mm-menu-h3">메뉴가 등록되어있지 않습니다. <br />
		메뉴를 등록하셔서 <span class="mm-logo-font">MenuMap</span>
		을 완성해주세요 !</h3>
	</div>
</div>
