<!-- Restaurant Show page -->
<div class="container mm-post">
	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mm-sd-pdd">
		<div class="mm-post-in">

			<!-- restaurant main information -->
			<%= render "restaurants/main_info" %>

			<!-- google maps -->
			<div class="mm-gm">
				<div id="map-canvas"></div>
			</div>
			<div class="hidden" id="restaurant_address"><%= @restaurant.addr %></div>
			<div class="hidden" id="restaurant_name"><%= @restaurant.name %></div>

			<!-- menu section -->
			<% if @restaurant.menu_titles.any? %>
				<%= render "restaurants/menu_title" %>
			<% else %>
				<h1>메뉴를 제발 입력해주세요</h1>
			<% end %>

		</div>
	</div>
</div>
