/*==================================================
=                  Neccesities                     =
==================================================*/


/*=========         Imports         =========*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);


/*==================================================
=               Universal settings                 =
==================================================*/


/*=========        html, body       =========*/

html, body {
	height: 100%;
}

/*=========        variables        =========*/

/* colors */

$mm-mc-orange: #dd4814;
$mm-mc-org-d: #97310e;
$mm-bg-grey: #f4f4f4;
$mm-bg-title: #E5E6E0;
$mm-ft-grey: #494949;
$mm-btn-dark-grey: #aea79f;
$mm-btn-dark-grey-hover: #978e83;
$mm-bg-nav-grey: #f8f8f8;
$mm-ft-nav-grey: #777777;
$mm-bg-nav-hover: #eeeeee;
$mm-org-hover: #97310e;
$mm-border-grey: #e5e5e5;

/*==========         mixins        ==========*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*=========        typography       =========*/

html, body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Noto Sans', sans-serif;
}

/*==========        MenuMap        ==========*/

span.mm-logo-font {
	color: $mm-mc-orange;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

span.mm-logo-font-ko {
	color: $mm-mc-orange;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
}

span.mm-logo-font-inv {
	color: white;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.mm-btn-orange {
	background-color: $mm-mc-orange;
	border-color: $mm-mc-orange;
	font-weight: bold;
	color: white;
	&:hover, &:focus, &:active {
		color: white;
		background-color: $mm-org-hover;
		border-color: $mm-org-hover;
		outline: none;
	}
}

.mm-btn-dark-grey {
	background-color: $mm-btn-dark-grey;
	border-color: $mm-btn-dark-grey;
	color: white;
	font-weight: bold;
	&:hover, &:focus, &:active {
		background-color: $mm-btn-dark-grey-hover;
		border-color: $mm-btn-dark-grey-hover;
		color: white;
	}
}

@media (max-width: 767px) {
	.label {
		padding-top: 0.4em;
	}
}

.modal .modal-header button[data-dismiss="modal"] {
	font-size: 2em;
}

/*==================================================
=               Navigation, Footer                 =
==================================================*/


/*==========          Wrap         ==========*/

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -3.5em;
	padding: 0 0 3.5em;
}


/*==========       Navigation      ==========*/

#mm-nav {
	border-radius: 0;
	margin-bottom: 1em;
}

#mm-ph-nav-toggle > ul > li > a {
	&:hover {
		background-color: #eeeeee;
	}
}

#mm-ph-nav-toggle .glyphicon-cog {
	top: 2px;
}

#mm-nav-font {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $mm-mc-orange;
}

#mm-dt-nav-div {
	padding: 15px 0;
}

ul#mm-dt-nav-ul {
	background-color: $mm-bg-nav-grey;
	border-radius: 0.5em;
	color: $mm-ft-nav-grey;
	li a {
		&:hover, &:focus {
			background-color: $mm-bg-nav-hover;
		}
	}
}

#mm-ph-nav-div {
	border-color: #e7e7e7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 992px) {
	#mm-nav {
		margin-bottom: 2.5em;
	}
	#mm-nav-font {
		font-size: 2.7em;
	}
	#mm-ph-nav-div {
		border-width: 0px;
	}
}

/*=========         Flash          ==========*/

@media (max-width: 767px) {
	.mm-flash-con {
		padding: 0 0.5em;
		.close {
			margin: 0 5px;
		}
	}
}

.mm-flash-con-rest-show {
	max-width: 600px;
	padding: 0 0.5em;
	> div {
		margin-bottom: 0.3em;
	}
}

@media (min-width: 992px) {
	.mm-flash-con-rest-show {
		padding: 0;
		> div {
			margin-bottom: 1em;
		}
	}
}

/*=========         Footer         ==========*/

footer {
	> .container {
	height: 100%;
	}
	color: #848484;
	background-color: $mm-ft-grey;
	p {
		margin: 0;
	}
	a {
		color: #848484;
		 &:hover {
				color: #222;
				text-decoration: none;
		}
	}
	span:last-child {
		float: right;
	}
}

#footer {
	height: 3.5em;
}

#mm-ft-cont > span.glyphicon {
	float: left;
	padding: 0.3em;
}

@media (max-width: 767px) {
	footer p {
		padding-top: 1.1em;
	}
	#mm-ft-com {
		font-size: 1em;
		text-align: left;
		margin: 0;
		font-family: 'Ubuntu';
		.glyphicon {
			float: left;
			margin: 0.2em;
		}
	}
	#mm-ft-cont {
		font-size: 0.8em;
		text-align: right;
		margin-top: 0.4em;
		span.glyphicon {
			padding: 0.2em;
		}
		a {
			margin-left: 0.7em;
		}
	}
}

@media (min-width: 992px) {
	footer p {
		padding-top: 0.5em;
	}
	#mm-ft-com {
		font-size: 1.8em;
		text-align: left;
		margin: 0;
		font-family: 'Ubuntu';
		.glyphicon {
			float: left;
			margin: 0.2em;
		}
	}
	#mm-ft-cont {
		font-size: 1.2em;
		text-align: right;
		margin-top: 0.5em;
		a {
			margin-left: 0.7em;
		}
	}
}


/*==================================================
=                     Shared                       =
==================================================*/


/*==========    Form and Errors    ==========*/

#mm-err {
	ul {
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: red;
	}
}
		



/*==================================================
=                       Home                       =
==================================================*/


/*=========       Index page       ==========*/

/* Index section 01 */

#home01 {
	background: url('/images/dark_menu.jpg');
	background-position: center top;
	margin-top: -2.5em;
	.row {
		&:last-of-type {
			margin-bottom: 2.5em;
			a:hover {
				text-decoration: none;
			}
		}
	}

	.btn-primary {
		color: #a8a8a8;
		background-color: white;
		font-size: 1.2em;
		font-weight: bold;
		text-align: left;
		border-radius: 4px;
		&:hover {
			background-color: $mm-bg-title;
		}
	}
}

h1#mm-index-h1 {
	color: white;
	font-size: 5em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-top: -0.1em; 
	margin-bottom: 0.2em;
}

h2#mm-index-h2 {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-top: 3em;
}

@media (min-width: 992px) {
	#home01 > .container-fluid {
		min-height: 700px;
	}
	h1#mm-index-h1 {
		font-size: 9em;
	}
	h2#mm-index-h2 {
		font-size: 1.6em;
		margin-top: 4em;
	}
}

button#mm-index-btn {
	background-color: white;
	border-width: 0px;
	border-radius: 4px;
	color: #a8a8a8;
	font-weight: bold;
	font-size: 1.2em;
	&:focus {
		outline: none;
	}
	span {
		float: right;
		color: black;
	}
	.glyphicon {
		line-height: inherit;
		font-weight: bold;
	}
}

/* Index section 02 */

#home02 {
	.row {
		margin-top: 1.5em;
		p {
			font-size: 2.8em;
		}
		.col-md-8 {
			padding-left: 30px;
		}
	}
}

@media (max-width: 767px) {
	h3.mm-index-h3 {
		font-size: 1em;
	}
}
	
@media (min-width: 992px) {
	#home02 .row p {
		font-size: 4.8em;
		margin-top: 0.3em;
	}
	h3.mm-index-h3 {
		font-size: 1.5em;
	}
}

#home05 {
	font-size: 1.3em;
	padding: 2em 0em;
	background-color: #e5e6e0;
	text-align: center;	
	#mm-index-btn3 {	
		margin-top: 2em;
		font-size: 0.9em;
	}
}

@media (min-width: 992px) {
	#home05 {
		font-size: 2em;
		padding: 2em;
		#mm-index-btn3 {
			margin-top: 4em;
			font-size: 0.7em;
		}
	}
}

/* Index section 03 */

#home03 {
	margin-top: -2.5em;
	background-color: $mm-bg-title;
}

#mm-index-step-title {
	padding: 1em 1.2em 0.5em;
}

h4#mm-index-h4 {
	font-size: 1em;
	padding-bottom: 0.3em;
}

h5#mm-index-h5 {
	font-size: 2em;
	font-weight: bold;
}

@media (max-width: 767px) {
	h5#mm-index-h5 {
		margin-top: -0.3em;
	}
}

@media (min-width: 992px) {
	#mm-index-step-title {
		padding: 2em;
	}
	h4#mm-index-h4 {
		font-size: 1.4em;
	}
	h5#mm-index-h5 {
		font-size: 3.5em;
	}
}

/* Index section 04 */

#home04 {
	background-color: $mm-bg-grey;
	padding-bottom: 3em;
	a:hover {
		text-decoration: none;
	}
}

.left-category {
	padding-right: 7px;
}
.right-category {
	padding-left: 7px;
}

#home04 {
	.mm-ins-01 {
		border: solid 2px #D7D7D7;
		border-radius: 1em;
		padding: 1.5em;
		margin: 0 10px;
		#mm-search-rdbtn {
			text-align: right;
			padding-right: 0;
			margin-bottom: 0;
		}
	}

	.mm-ins-01 .mm-search-btns {
		text-align: right;
		padding-right: 15px;
		margin-bottom: 0;
	}

	@media (min-width: 992px) {
		.mm-ins-01 {
			margin: 0;
			#mm-search-rdbtn {
				margin-bottom: 15px;
			}
		}
		.mm-ins-01-cat label {
			padding-left: 0;
		}
	}
}

.mm-ins-02 {
	a {
		text-decoration: none;
		.mm-menu-best {
			color: #595959;
		}
	}
	h1.mm-rest-name {
		margin: 0;
	}
}

@media (max-width: 767px) {
	.mm-ins-02, .mm-ins-03 {
		margin-top: 3em;
	}
	.mm-ins-02 .col-md-6 {
		padding: 0 0.5em;
	}
}

@media (min-width: 992px) {
	.mm-ins-02 .mm-rest-info .mm-rest-info-title h1.mm-ins-02-h1 {
		font-size: 2em;
		padding-left: 0.3em;
	}
	.mm-ins-02 .mm-info-rest-img {
		margin-bottom: 0.5em;
	}
	.mm-ins-02 tr {
		line-height: 1.8em;
	}
	.mm-ins-02 .mm-rest-info .mm-rest-info-cts .mm-rest-info-tb {
		padding: 0.8em;
	}
}

.mm-ins-03 {
	.mm-menu-best {
		color: #595959;
	}
	h1.mm-rest-name {
		margin: 0;
	}
}

@media (min-width: 992px) {
	.mm-ins-03 .mm-rest-info .mm-rest-info-title h1.mm-ins-03-h1 {
		font-size: 2em;
		padding-left: 0.3em;
	}
	.mm-ins-03 .mm-info-rest-img {
		margin-bottom: 0.5em;
	}
	.mm-ins-03 tr {
		line-height: 1.8em;
	}
	.mm-ins-03 .mm-rest-info .mm-rest-info-cts .mm-rest-info-tb {
		padding: 0.8em;
	}
}

.mm-index-step-contents {
	p {
		text-align: center;
	}
}

#mm-index-btn2 {
	background-color: $mm-mc-orange;
	border-color: #dd4814;
	font-weight: bold;
	&:hover {
		background-color: $mm-mc-org-d;
		border-color: $mm-mc-org-d;
		text-decoration: none;
	}
	&:active {
		box-shadow: none;
	}
	&:focus {
		background-color: $mm-mc-org-d;
		border-color: $mm-mc-org-d;
		outline: none;
	}
}

@media (max-width: 767px) {
	h6.mm-index-h6 {
		font-size: 2em;
		padding: 0.4em 15px;
	}
	.mm-index-step-contents {
		padding: 1.4em 0 0;
		p {
			font-size: 1.5em;
		}
	}
	#mm-index-btn2 {
		margin-top: 1em;
	}
}

@media (min-width: 992px) {
	h6.mm-index-h6 {
		font-size: 3em;
		padding: 0.6em 15px;
	}
	.mm-index-step-contents {
		padding: 4em 0 0;
		p {
			font-size: 2.3em;
		}
	}
	h6.mm-index-h6-2nd {
		text-align: right;
	}
	#mm-index-btn2 {
		margin-top: 3em;
		height: 3em;
		font-size: 1.3em;
	}
}

/*=========       Manual page      ==========*/

.manual {
	padding: 20px;
	&:first-child {
		padding: 40px;
	}
	legend {
		font-size: 30px;
		margin: 30px 0px;
	}
	.thumnail {
		text-align: center;
		img.link-image {
			height: 250px;
			width: 250px;
		}
	}
	/* Each manual part */
	> .container {
		> .each-manual {
			background-color: #F3F3F3;
			padding: 30px;
			margin: 20px;	
			border: solid;
			border-radius: 10px;
			border-color: #F3F3F3;
			> .title {
				border-bottom: solid;
				border-bottom-color: white;
				h3 {
				font-size: 20px;
				}
			}
			> .contents {
				padding: 20px;
				p {
				}
			}
		}
	}
}

/*=========        Help page       ==========*/

@media (min-width: 992px) {
	.mm-help-padding {
		padding: 0 4em;
	}
}

#mm-help {
	margin: 0 -0.5em 1em;
	padding: 0 0 0.5em;
	background-color: $mm-bg-grey;
	border-radius: 10px;
}

#mm-help-title {
	background-color: $mm-bg-title;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#mm-help-h1 {
	margin: 0;
	padding: 0 0.3em 0.3em;
	font-size: 2em;
	font-weight: bold;
}

#mm-help-h2 {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

.mm-help-h3 {
	margin: 0.7em 0.5em 0.5em;
	font-size: 1.2em;
	padding: 0.2em 0.2em 0.8em;
	border-bottom: 1px solid;
	border-color: white;
	line-height: 1.5em;
	&:hover {
		cursor: pointer;
	}
}

@media (min-width: 992px) {
	.mm-help-h3 {
		padding: 0.2em 0.6em 0.8em;
	}
}

.mm-help-cts {
	margin: 0 0.5em 0.5em;
	padding: 0.5em;
	font-size: 1em;
	background-color: white;
	border-radius: 0.5em;
}
	
@media (min-width: 992px) {
	#mm-help-h1 {
		padding: 0 0.4em 0.5em;
	}
	#mm-help-h2 {
		padding: 1em;
	}
	#mm-help-h3 {
		font-size: 1.3em;
		padding: 0.2em 0.3em 0.8em;
	}
	.mm-help-cts {
		padding: 1em;
		line-height: 1.5em;
	}
}

.mm-help-qna .mm-help-cts a button {
	font-size: 0.9em;
	padding: 4px 8px;
}

.mm-help-ask-btn {
	padding: 0.5em;
}

@media (min-width: 992px) {
	.mm-help-ask-btn {
		padding: 0 7em;
	}		
}

/* edit page */

#help_qna_help_contents {
	min-height: 100px;
}

/* ask_qna modal */

#ask-qna-modal-h4 {
	font-weight: bold;
	span {
		font-size: 1.5em;
	}
}

#AskQnaModal {
	.modal-body {
		label {
			margin-bottom: 1em;
		}
		#ask_qna_qna_user {
			margin-bottom: 1em;
		}
	}
	.modal-footer > div {
		display: inline;
	}
}

/*=========   Add Restaurant page  ==========*/

@media (min-width: 992px) {
	.mm-flash-con-add-rest {
		padding: 0 14.3em;
	}
}

.mm-add-con {
	padding: 0 0.5em;
}

@media (max-width: 767px) {
	.mm-add-con {
		margin: 0.5em 0 1em;
	}
}

@media (min-width: 992px) {
	.mm-add-con {
		margin-bottom: 2em;
	}
}

.mm-add {
	margin-top: -0.5em;
	padding: 0;
	> div {
		padding: 1.3em 1em 1em;
		border-radius: 0.5em;
		background-color: $mm-bg-grey;
	}
	fieldset .form-group:last-of-type {
		margin: 0;
		float: right;
	}
	fieldset > div > p {
		margin: -0.8em -1em 0em;	
		font-size: 0.9em;
		text-align: right;
		color: #888888;
	}
}
	
#mm-add-delivery {
	label, input {
		float: right;
	}
}

@media (max-width: 767px) {
	#mm-add-delivery {
		margin: 0;
		input {
			margin: 3px;
		}
	}
}

@media (min-width: 992px) {
	.mm-add .form-group {
		margin-bottom: 1.5em;
	}
	.mm-add fieldset > div > p {
		margin: -1em 0 1em;
	}
	#mm-add-delivery {
		margin: -1em 0em 0.5em;
		input {
			margin: 0.7em 0.3em;
		}
	}
}

h1#mm-add-h1 {
	margin: 0 0 0.5em;
	padding-bottom: 0.5em;
	border-bottom: solid 1px $mm-border-grey;
	font-size: 1.4em;
	.mm-logo-font {
		font-size: 1.5em;
	}
}

h2#mm-add-h2 {
	margin: 0 0 0.3em;
	font-size: 0.9em;
}

@media (min-width: 992px) {
	.mm-add {
		padding: 0 3em;
		> div {
			padding: 2em 2em 1.5em;
		}
	}
	h2#mm-add-h2 {
		font-size: 1.1em;
	}
	h1#mm-add-h1 {
		font-size: 1.9em;
	}
}

@media (min-width: 992px) {
	.mm-add fieldset label {
		text-align: right;
		padding-top: 0.5em;
		padding-right: 0;
	}
}

#add_rest_request_add_rest_img {
	display: none;
}

#mm-add-rest-img-col {
	padding: 0 15px;
}

/*=========      Search page       ==========*/

.home-search {
	padding: 0 10px;
	.col-md-8 {
		padding: 0;
	}
}

input#addr, input#name,
input#add_rest_request_name,
input#add_rest_request_real_addr,
input#add_rest_request_taggable_addr, 
input#add_rest_request_phnum,
input#add_rest_request_open_at {
	&::-webkit-input-placeholder {
		color: #c7c7c7;
	}
	&::-moz-placeholder {
		color: #c7c7c7;
	}
	&::-ms-input-placeholder {
		color: #c7c7c7;
	}
}

.home-search > .col-md-8 > .col-md-10 {
	border-style: solid;
	border-radius: 10px;
	border-color: $mm-bg-grey;
	background-color: $mm-bg-grey;
	padding: 2em 0.8em 0.8em;
	h2#mm-search-h2 {
		font-size: 1.1em;
		margin: 0;
	}
	h1#mm-search-h1 {
		font-size: 2.35em;
		margin-top: 0.3em;
		border-bottom: solid 1px $mm-border-grey;
		padding-bottom: 0.2em;
	}
	.form-horizontal .form-group {
		margin: 0 0 1em;
	}
	label {
		padding: 0;
	}
	#mm-search-addr {
		margin-bottom: 0.5em;
	}
	.mm-search-input {
		padding: 0;
	}
	#mm-search-rdbtn {
		margin: 0;
		padding: 0;
		label {
			margin: 0;
			font-weight: initial;
			float: right;
		}
		input {
			float: right;
			margin: 0.2em;
		}
	}
	.left-category {
		padding: 0 0.4em 0 0;
	}
	.right-category {
		padding: 0 0 0 0.4em;
	}
	.mm-search-btns {
		float: right;
		> .col-md-10 {
			padding-right: 0;
		}
	}
}

@media (min-width: 992px) {
	.home-search > .col-md-8 > .col-md-10 {
		padding: 3em 3em 1em;
		label { 
			padding: 0.5em 1em;
		}
		#mm-search-h1 {
			font-size: 2.6em;
			margin-bottom: 0.5em;
			padding-bottom: 0.3em;
		}
		#mm-search-rdbtn {
			margin-bottom: 0.5em;
			label {
				padding-left: 0.3em;
			}
			input {
				margin: 0.7em 0;
			}
		}
	}
}


/*==================================================
=                      Users                       =
==================================================*/


/*=========      Signup page       ==========*/

#mm-field-legend {
	font-size: 2.4em;
	margin-bottom: 0.5em;
}

#mm-field-h1 {
	font-size: 0.9em;
	margin-bottom: 0.5em;
	.mm-logo-font {
		font-size: 1.4em;
	}
}

.mm-field {
	padding: 0 10px;
	margin-bottom: 2em;
	> .col-md-8 {
		padding: 0;
		> .col-md-10 {
			border-style: solid;
			border-radius: 10px;
			border-color: $mm-bg-grey;
			padding: 0 0.8em 0.8em;
			background-color: $mm-bg-grey;
			input, textarea, select {
				border: 1px solid #bbb;
				width: 100%;
				margin-bottom: 15px;
				@include box_sizing;
			}
			input {
				height: auto !important;
			}
		}
	}
}

@media (min-width: 992px) {
	.mm-field > .col-md-8 > .col-md-10 {
		padding: 0.5em 3em 2em;
	}
}

/*=========       Login page       ==========*/

.mm-login-mt-btn {
	text-align: right;
	#session_remember_me {
		display: inline;
		width: initial;
	}
}

label[for=session_remember_me] {
	display: inline;
}

.mm-login-sign-btn {
	float: right;
}

/*=========       MyMap page       ==========*/

h1#mm-mymap-h1 {
	max-width: 600px;
	border-bottom: 4px solid #E5E6E0;
	padding-bottom: 0.3em;
	margin: 0 auto;
	font-size: 2em;	
	.mm-logo-font {
		font-size: 1.2em;
	}
}


@media (min-width: 992px) {
	h1#mm-mymap-h1 {
		margin: 0.5em auto;
		font-size: 2.5em;	
	}
}

/*==================================================
=                   Restaurants                    =
==================================================*/


/*=========    Restaurants Post    ==========*/

.mm-post {
	padding: 0;
}

.mm-post-in {
	padding: 0.5em 0.5em 0em;
	border-radius: 0.5em;
	h1 {
		margin: 0;
	}
	span.mm-posts-count {	
		font-size: 0.8em;
		float: right;
		padding-top: 0.4em;
	}
} 

h1#mm-posts-h1 {
	max-width: 600px;
	border-bottom: 4px solid $mm-bg-title;
	padding: 0 0.3em 0.3em;
	margin: 0 auto;
	font-size: 1.7em;
	span.mm-logo-font {
		font-size: 1.1em;
	}
}

@media (min-width: 992px) {
	h1#mm-posts-h1 {
		font-size: 2.3em;
		margin-top: 0.5em;
	}
	span.mm-posts-count {
		padding-top: 0.5em;
	}
}
		
.mm-sd-pdd {
	padding: 0;
}

li.disabled {
	display: none;
}

.mm-rest-info-row {
	margin: 0;
}

.mm-rest-info-row > .col-xs-4 {
	padding: 5px 0 0 8px;	
	.mm-rest-info-img {
		height: 90px;
		width: 120px;
		background-color: #f0f0f0;
		text-align: center;
		display: table;
		border-radius: 0.5em;
		.mm-rest-img-rpm {
			font-size: 1.7em;
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.mm-rest-img-ing {
	color: #a1a1a1;
	font-size: 0.5em;
	display: block;
}

@media (min-width: 992px) {
	.mm-rest-info-row > .col-xs-4 {
		padding: 0.5em 0 0 2em;	
		.mm-rest-info-img {
			height: 120px;
			width: 160px;
			border-radius: 0.5em;
			.mm-rest-img-rpm {
				font-size: 1.8em;
			}
		}
	}
	.mm-rest-img-ing {
		font-weight: bold;
	}
}

.mm-rest-info-img > img {
	height: 100%;
	width: 100%;
}

.mm-post-in {
	form.edit_restaurant {
		#restaurant_picture {
			display: inline;
		}
		input:last-child {
			display: inline;
			float: right;
		}
	}
}
	
.mm-rest-info-row > .col-xs-8 {
	padding: 5px 20px;
}

.mm-rest-info {
	max-width: 600px;
	background-color: white;
	border-radius: 0.5em;
	margin: 1.3em 0 0.5em;
	box-shadow: 0.3em 0.5em 0.5em $mm-border-grey;
	&:hover, &:active {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 
											0 0 8px rgba(19, 130, 255, 0.6);
	}
	&:first-child {
		margin-top: 0;
	}
	a:hover {
		text-decoration: none;
		color: white;
	}
	.mm-rest-info-title {
		background-color: $mm-bg-title;
		border-radius: 0.5em 0.5em 0 0;
		padding: 0.8em 1.3em 0.2em;
		&:hover, &:active {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 
												0 0 8px rgba(19, 130, 255, 0.6);
		}
		h1.mm-rest-name {
			font-size: 1.5em;
			font-weight: bold;
			color: #6f6d6d;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: inline-block;
			max-width: 320px;
		}
		h1.mm-rest-show-name {
			max-width: 250px;
		}
	}
	.mm-rest-info-cts {
		border-bottom: solid 1px $mm-border-grey;
		.mm-rest-info-tb {
			padding: 5px;
			color: #6f6d6d;
			th {
				min-width: 3em;
			}
			td a .glyphicon {
				color: #6f6d6d;
			}
		}
	}
	.mm-rest-info-ft {
		text-align: right;
		padding: 0.2em 0.5em 0.4em;
	}
}

@media (max-width: 320px) {
	.mm-rest-info .mm-rest-info-title	{
		padding: 0.7em 1em;
		font-size: 0.9em;
	}
	.mm-rest-info-row {
		> .col-xs-4 {
			padding: 5px 0 5px 8px;
		}
		> .col-xs-8 {
			padding: 5px 0 5px 30px;
			font-size: 0.9em;
			line-height: 1.6;
		}
	}
}

@media (min-width: 992px) {
	.mm-rest-info .mm-rest-info-title {
		h1.mm-rest-name {
			max-width: 540px;
		}
		h1.mm-rest-show-name {
			max-width: 480px;
		}
	}
}

.mm-mymap-btn {
	display: inline;
}

.mm-mymap-btn-on {
	float: right;
	padding: 0.1em 0.2em 0.2em;
	margin: -0.3em -0.8em;
	border: solid 2px white;
	border-radius: 0.5em;
	color: white;
	font-family: 'Ubuntu';
	font-size: 1em;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
	&:hover, &:focus, &:active {
		outline: none;
		border-color: $mm-mc-orange;
	}
	.glyphicon {
		font-size: 0.8em;
	}
	form input[type="submit"] {
		display: none;
	}
}

.mm-mymap-btn-off {
	float: right;
	padding: 0 0.25em 0.1em;
	margin: -0.2em -0.8em;
	border: solid 2px $mm-mc-orange;
	border-radius: 0.3em;
	color: $mm-mc-orange;
	font-family: 'Ubuntu';
	font-size: 1.1em;
	font-weight: bold;
	&:hover {
		cursor: pointer;
	}
	&:hover, &:focus, &:active {
		outline: none;
		border-color: $mm-mc-orange;
	}
	form input[type="submit"] {
		display: none;
	}
}

@media (min-width: 992px) {
	.mm-mymap-btn-on, .mm-mymap-btn-off {
		font-size: 1.4em;
		margin-top: -0.2em;
		padding: 0.1em 0.2em 0.2em;
	}
}

#mymap-w-login {
	&:hover, &:focus, &:active {
		outline: none;
	}
}

p.mm-menu-best {
	display: inline;
	padding: 0.2em 0.5em;
	float: left;
	font-size: 0.9em;
	font-weight: bold;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}

.mm-menu-best-del {
	max-width: 170px;
}

.mm-menu-best-nodel {
	max-width: 250px;
}

.mm-rest-info-label {
	margin: 0.3em;
}

@media (max-width: 320px) {
	p.mm-menu-best {
		padding: 0.2em 0;
	}
}

@media (min-width: 768px) {
	.mm-post-in {
		padding: 0 2em;
	}
}

@media (min-width: 992px) {
	.mm-post {
		margin-top: -1.5em;
	}
	.mm-post-in {
		padding: 0 4em;
		.mm-rest-info {
			margin: 2em auto;
			.mm-rest-info-title {
				padding: 1em 2em 0.7em;
				h1.mm-rest-name {
					font-size: 1.8em;
				}
			}
			tr {
				line-height: 2em;
				td {
					padding: 0 0.5em;
					span {
						.glyphicon {
							padding: 0 0.5em;
						}
					}
				}
			}
			.mm-rest-info-ft {
				padding: 0.7em;
				span.label {
					margin: 0.5em;
				}
			}
		}
	}
	.mm-post-in {
		&:first-child {
			margin-top: 0;
		}
	}
	.mm-menu-best-del {
		max-width: 380px;
	}
	.mm-menu-best-nodel {
		max-width: 480px;
	}
}

/* pagination part */

.mm-wpg {
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
}

.pagination {
	margin: 0;
	ul.pagination {
		margin: 1em 0;
		a {
			color: $mm-mc-orange;
			border: solid 1px #dddddd;
			font-weight: bold;
			&:hover, &:focus {
				color: $mm-mc-org-d;
				background-color: #eeeeee;
				border-color: #dddddd;
			}
		}
		li.active a {
			background-color: #f5f5f5;
			color: #aea79f;
		}
	}
}

@media (min-width: 992px) {
	.pagination ul.pagination {
		margin: 0.5em 0 1.5em;
	}
}

/* no_posts */

.mm-no-posts {
	background-color: #f8f8f8;
	padding: 0.5em;
	margin: 0.3em 0 1.5em;
	border-radius: 0.5em;
	.mm-no-posts-query table {
		margin-bottom: 0;
	}
	.mm-no-posts-tips .mm-logo-font-ko {
		font-size: 1.2em;
	}
}

@media (min-width: 992px) {
	.mm-no-posts {
		padding: 3em;
		margin-top: 1.5em;
		margin-bottom: 3em;
	}
	.mm-no-posts-query {
		margin-bottom: 1em;
	}
}

h1.mm-no-posts-h1 {
	padding: 0 0 0.2em;
	> span.mm-logo-font {
		font-size: 0.8em; 
	}
	span:last-child {
		font-size: 0.5em;
		font-weight: bold;
	}
}

@media (min-width: 992px) {
	h1.mm-no-posts-h1 {
		padding: 0 0 0.5em;
		> span.mm-logo-font {
			font-size: 1.3em; 
		}
		span:last-child {
			font-size: 0.9em;
		}
	}
}

.mm-no-posts-tips {
	padding: 0.1em;
	p {
		font-size: 1em;
		background-color: white;
		border-radius: 0.2em;
		padding: 0.5em;
	}
}

h2.mm-no-posts-h2 {
	font-size: 2em;
	font-weight: bold;
}

h3.mm-no-posts-h3 {
	font-size: 1.3em;
	background-color: $mm-bg-title;
	padding: 0.5em 0.5em;
	border-radius: 0.2em;
	line-height: 1.3em;
}

@media (min-width: 992px) {
	h3.mm-no-posts-h3 {
		padding: 0.4em 0.7em;
		font-weight: bold;
	}
	.mm-no-posts-tips > p {
		padding: 1em;
		line-height: 1.6em;
	}
}

.mm-no-posts-tips p a button {
	font-size: 0.9em;
	padding: 4px 8px;
}

/*=========    Restaurants Show    ==========*/

/* main info footer for share */

@media (max-width: 767px) {
	.mm-rest-info-ft.mm-rest-show {
		text-align: left;
		min-height: 39px;
		> div:first-child {
			display: inline;
			line-height: 2.1;
		}
	}

	.mm-rest-info-ft button#mm-share-modal-btn {
		font-size: 0.9em;
		font-weight: bold;
		padding: 0.3em 0.6em;
		margin-top: 0.2em;
		float: right;
	}

	#mm-share-modal {
		.modal-body {
			text-align: center;
			img {
				max-width: 40px;
				max-height: 40px;
			}
		}
	}
}


/* main_btn_group */

#mm-main-btn-group {
	max-width: 600px;
	margin: 0 auto;
	> .btn-group {
		border: none;
		margin-top: 1em;
		box-shadow: 0em 0.1em 0.5em #e5e5e5;
		.btn-group:active {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 
												0 0 8px rgba(19, 130, 255, 0.6);	
		}
		.btn-group:first-of-type button {
			border-right: 1.5px solid white;
		}
		.btn-group:last-of-type button {
			border-left: 1.5px solid white;
		}
	}
	.btn-group-justified .btn-group .btn {
		background-color: $mm-bg-title;
		font-weight: bold;
		color: #6f6d6d;
		border: none;
	}
	button {
		font-size: 1.1em;
		span.glyphicon {
			margin: 3px;
		}
	}
}

#mm-main-btn-group {
	#mm-show-info {
		margin: 1em 0;
		border-radius: 0.5em;
		box-shadow: 0.3em 0.5em 0.5em #e5e5e5;
		.panel {
			border: none;
			border-radius: 0.5em;
		}
	}
	#mm-show-btn1 {
		padding: 0.9em 0.5em 0em;
		border-radius: 0.5em;
		border: 1px solid #e7e7e7;
		.row {
			margin: 0;
			color: #6f6d6d;
			border-bottom: 1px solid #e7e7e7;
			margin-bottom: 0.5em;
			padding-bottom: 0.3em;
			&:last-of-type {
				border: none;
			}
		}
		.col-xs-3 {
			padding: 0;
			font-weight: bold;
		}
		.col-xs-9 {
			padding: 0 0 0 5px;
		}
	}
}

@media (max-width: 320px) {
	#mm-main-btn-group {
		font-size: 0.9em;
	}
}

@media (min-width: 992px) {
	#mm-main-btn-group {
		#mm-show-info {
			margin: 1.5em 0;
		}
		#mm-show-btn1 .col-xs-3 {
			padding: 0 1em;
			font-weight: bold;
		}
	}
}

#mm-show-btn2 { 
	background-color: #f0f0f0;
	border-radius: 0.5em;
	> p {
		padding: 1em 0 0;
		text-align: center;
		color: #6f6d6d;
		font-weight: bold;
	}
	.row {	
		margin: 0;
		button {
			padding: 4px 12px;
			font-size: 1em;
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	}
}

@media (min-width: 992px) {
	#mm-show-btn2 > p {
		font-size: 1.2em;
	}

	#mm-show-btn2 .row button {
		margin-top: 0.7em;
		margin-bottom: 1.2em;
	}
}

#mm-carousel {
	width: 100%;
	max-width: 600px;
	height: 195px;
	margin-bottom: 0.5em;
	.carousel-inner {
		height: 100%;
	}
	img {
		height: 100%;
		margin: auto;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
	}
	.left.carousel-control {
		border-top-left-radius: 0.5em;
	}
	.right.carousel-control {
		border-top-right-radius: 0.5em;
	}
}

@media (min-width: 992px) {
	#mm-carousel {
		height: 337.5px;
	}
}

.carousel-inner > .item {
	height: 100%;
}

/* Google maps */

#mm-gm {
	width: 100%;
	max-width: 600px;
	height: 230px;
	margin: 0 auto;
	border-radius: 0.5em;
	box-shadow: 0.3em 0.5em 0.5em #e5e5e5;
}

#map-infowindow {
	margin-top: 5px;
	img {
		width: 15px;
		height: 15px;
		margin-right: 3px;
		margin-top: -2px;
	}
}

#map-canvas {
	height: 100%;
	width: 100%;
	border-radius: 0.5em;
}

@media (min-width: 992px) {
	#mm-gm {
		height: 300px;
	}
	#map-infowindow {
		margin-top: 2px;
	}
}

/* menu_title */

h2.mm-menu-h2 {
	margin: 0;
	font-size: 1.5em;
	font-weight: bold;
	color: #6f6d6d;
	display: inline-block;
}

p.mm-menu-p-warning {
	font-size: 10px;
	color: #6f6d6d;
	line-height: 3.5em;
	float: right;
	margin-right: -1em;
}

@media (min-width: 992px) {
	h2.mm-menu-h2 {
		font-size: 1.8em;
	}
	p.mm-menu-p-warning {
		font-size: 11px;
		line-height: 4.5em;
	}
}
	
.mm-menu-title {
	border-bottom: solid 1px white;
	&:last-child {
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
		border-bottom: none;
	}
}

@media (max-width: 320px) {
	.mm-menu-title {
		font-size: 0.9em;
	}
}

@media (min-width: 992px) {
	.mm-menu-title {
		font-size: 1em;
	}
}

.mm-menu-title-name {
	padding: 0.8em 1em;
	background-color: #f0f0f0;
	&:hover {
		cursor: pointer;
	}
	h3 {
		margin: 0;
		font-size: 1.2em;
	}
}

@media (min-width: 992px) {
	.mm-menu-title-name {
		padding: 0.8em 2em;
		h3 {
			font-size: 1.3em;
			font-weight: bold;
		}
	}
}

.mm-menu-title-info {
	text-align: right;
	border-bottom: solid 1px $mm-border-grey;
	padding: 0 0.5em;
	margin-top: -0.5em;
	background-color: #f0f0f0;
	p {
		margin: 0px;
		font-size: 0.9em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}

@media (min-width: 992px) {
	.mm-menu-title-info {
		padding: 0 2.5em 0.5em;
	}
}

/* no_menu_title */

.mm-rest-info.mm-menu.mm-no-menu {
	margin: 0;
}

.mm-no-menu {
	h3.mm-menu-h3 {
		margin: 0;
		font-size: 1em;
		font-weight: bold;
		color: #6f6d6d;
		display: inline-block;
	}
	.mm-no-menu-title {
		border-radius: 0;
		background-color: #f0f0f0;
		padding: 0.5em 1.3em 0.8em;
	}
}

@media (min-width: 992px) {
	.mm-no-menu {
		h3.mm-menu-h3 {
			font-size: 1.3em;
			line-height: 1.8em;
		}
		.mm-rest-info-title.mm-no-menu-title {
			padding: 0.7em 2em 1.3em;
		}
	}
}

/* menu */

.mm-post-in .mm-menu {
	margin-bottom: 1.5em;
}

@media (min-width: 992px) {
	.mm-post-in .mm-menu {
		margin-bottom: 2em;
	}
}	

.mm-menu-info {
	padding: 0.5em 1em;
	p {
		border-top: solid 1px #f4f4f4;
		padding-top: 0.5em;
		margin-bottom: 0.5em;
		&:first-child {
			border: none;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}

@media (min-width: 992px) {
	.mm-menu-info {
		padding: 0.5em 2.5em;
		p {
			border-top: solid 1px #e5e5e5;
		}
	}
}

.mm-menu-width {
	max-width: 240px;
	a[data-method=delete] {
		color: #f53434;
		font-weight: bold;
		.glyphicon {
			top: 2px;
		}
	}
}

.mm-menu-name {
	font-size: 1em;
}

@media (min-width: 992px) {
	.mm-menu-width a[data-method=delete] .glyphicon {
		font-size: 1.1em;
		top: 2.5px;
	}
	.mm-menu-name {
		font-size: 0.9em;
		font-weight: bold;
	}
}

.mm-menu-side-info {
	padding-left: 0.3em;
	font-size: 0.8em;
}

@media (min-width: 992px) {
	.mm-menu-side-info {
		font-size: 1em;
	}
}

.mm-menu-price {
	font-size: 1em;
	float: right;
}

@media (min-width: 992px) {
	.mm-menu-price {
		font-size: 1em;
	}
}

p.mm-menu-info {
	color: #a3a3a3;
	font-size: 0.5em;
	padding: 0;
	margin: -0.7em 0 0;
	border-top: none;
}

@media (min-width: 992px) {
	p.mm-menu-info {
		font-size: 0.9em;
		margin: -0.3em 0.5em 0;
	}
}


/* menu form */

.mm-rest-info-title.mm-menu-form-title {
	border-radius: 0 0 0.5em 0.5em;
	padding: 0.7em 1.3em 0.5em;
	&:hover {
		cursor: pointer;
	}
	h2 .glyphicon {
		font-size: 0.9em;
	}
}

.mm-menu-form {
	.form-group.row {
		margin: 0.5em 0;
	}
	.col-xs-1, .col-xs-2,
	.col-xs-3, .col-xs-4,
	.col-xs-5, .col-xs-6,
	.col-xs-7, .col-xs-8,
	.col-xs-9, .col-xs-10,
	.col-xs-11, .col-xs-12 {
		padding: 0 0.5em;
	}
	label {	
		padding-top: 0.5em;
	}
	input {
		padding: 0 0.5em;
	}
	.col-xs-1 {
		text-align: right;
		padding-right: 0;
	}
	form {
		padding-bottom: 0.2em;
	}
	.form-group:last-child {
		margin-top: 1em;
	}
}

@media (min-width: 992px) {
	.mm-menu-form .form-group.row {
		margin: 0.5em 1em;
	}
}

.mm-menu-form form {
	.mm-menu-form-hide {
	display: none;
	}
}

.form-group.row.mm-menu-form-menu {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 2px solid $mm-border-grey;
}

.mm-menu-form {
	input#title_name, input#title_info,
	input#menu_menu_side_info, input#menu_menu_info {
		&::-webkit-input-placeholder {
			color: #c7c7c7;
		}
		&::-moz-placeholder {
			color: #c7c7c7;
		}
		&::-ms-input-placeholder {
			color: #c7c7c7;
		}
	}
}

/* restaurant images upload */

#rest-img-modal {
	.modal-body label {
		margin-bottom: 0.5em;
	}
}

input#rest_img_img {
	display: none;
}

@media (min-width: 992px) {
	#rest-img-modal
	label[for="rest_img_img"] {
		font-size: 1.2em;
		margin-bottom: 1em;
		margin-top: 0.5em;
	}
}

/* comments */

h3.mm-cmt-h3 {
	margin: -0.1em 0 0.2em;
	font-size: 1.5em;
	font-weight: bold;
	color: #6f6d6d;
	display: inline-block;
}	

.mm-cmt-bdg {
	vertical-align: text-top;
	margin: -3px 0 0 2px;
	font-size: 1em;
	padding-top: 4px;
}

@media (min-width: 992px) {
	.mm-cmt-bdg {
		padding-bottom: 5px;
	}
}

.mm-cmt-name {
	font-size: 1em;
	font-weight: bold;
	color: $mm-mc-orange;
	margin-right: 0.3em;
}

.mm-cmt-cts {
	font-size: 1em;
	margin-bottom: 1em;
	color: #6f6d6d;
}

.mm-cmt-sec {
	padding: 0.3em 0.5em;	
	.mm-cmt-sec-cmts div {
		border-bottom: 1px solid $mm-border-grey;
		padding: 0.2em;
	}
	a {
		float: right;	
		&:hover, &:active, &:focus {
			color: $mm-mc-orange;
			font-weight: bold;
		}
	}
	.input-group button {
		color: #6f6d6d;
		font-weight: bold;
	}
	form {
		padding: 1em 0;
		input[type="submit"] {
			display: none;
		}
	}
	input#comment_contents {
		&::-webkit-input-placeholder {
			color: #c7c7c7;
		}
		&::-moz-placeholder {
			color: #c7c7c7;
		}
		&::-ms-input-placeholder {
			color: #c7c7c7;
		}
	}
}

@media (min-width: 992px) {
	.mm-cmt-sec .mm-cmt-sec-cmts div {
		padding: 0.4em 0.8em;
	}
}

/* report restaurant error modal */

.mm-rest-err {
	max-width: 600px;
	margin: 0 auto 1.5em;
}

#rest-err-modal-h4 {
	font-size: 1.6em;
	span {
		font-size: 1.3em;
	}
}

@media (min-width: 992px) {
	.mm-rest-err {
		margin-bottom: 2em;
	}
	#rest-err-modal-h4 {
		font-size: 2em;
		font-weight: bold;
	}
	form#new_report_rest_err .modal-body > div {
		font-size: 1.2em;
		margin-top: 0.4em;
		#mm-rest-err-img-col {
			margin-top: 0.5em;
		}
		textarea#report_rest_err_etc {
			margin-top: 0.5em;
		}
	}
}

#report_rest_err_rest_err_img {
	display: none;
}

label[for=report_rest_err_rest_err_img] {
	margin-top: 0.5em;
}

label[for=report_rest_err_etc] {
	margin-top: 1em;
}
