/*==================================================
=                  Neccesities                     =
==================================================*/


/*=========         Imports         =========*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);


/*==================================================
=               Universal settings                 =
==================================================*/


/*=========        html, body       =========*/

html, body {
	height: 100%;
}

/*=========        variables        =========*/

/* colors */

$mm-mc-orange: #dd4814;
$mm-mc-org-d: #97310e;
$mm-bg-grey: #f4f4f4;
$mm-bg-title: #E5E6E0;
$mm-ft-grey: #494949;
$mm-btn-dark-grey: #aea79f;
$mm-btn-dark-grey-hover: #978e83;
$mm-bg-nav-grey: #f8f8f8;
$mm-ft-nav-grey: #777777;
$mm-bg-nav-hover: #eeeeee;
$mm-org-hover: #97310e;
$mm-border-grey: #e5e5e5;

/*==========         mixins        ==========*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*=========        typography       =========*/

html, body, h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Noto Sans', sans-serif;
}

/*==========        MenuMap        ==========*/

span.mm-logo-font {
	color: $mm-mc-orange;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

span.mm-logo-font-inv {
	color: white;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
}

.mm-btn-orange {
	background-color: $mm-mc-orange;
	border-color: $mm-mc-orange;
	font-weight: bold;
	&:hover, &:focus, &:active {
		background-color: $mm-org-hover;
		border-color: $mm-org-hover;
		outline: none;
	}
}

.mm-btn-dark-grey {
	background-color: $mm-btn-dark-grey;
	border-color: $mm-btn-dark-grey;
	color: white;
	font-weight: bold;
	&:hover, &:focus, &:active {
		background-color: $mm-btn-dark-grey-hover;
		border-color: $mm-btn-dark-grey-hover;
		color: white;
	}
}


/*==================================================
=               Navigation, Footer                 =
==================================================*/


/*==========          Wrap         ==========*/

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -3.5em;
	padding: 0 0 3.5em;
}


/*==========       Navigation      ==========*/

#mm-nav {
	border-radius: 0;
	margin-bottom: 1em;
}

#mm-ph-nav-toggle > ul > li > a {
	&:hover {
		background-color: #eeeeee;
	}
}

#mm-nav-font {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $mm-mc-orange;
}

#mm-dt-nav-div {
	padding: 15px 0;
}

ul#mm-dt-nav-ul {
	background-color: $mm-bg-nav-grey;
	border-radius: 0.5em;
	color: $mm-ft-nav-grey;
	li a {
		&:hover, &:focus {
			background-color: $mm-bg-nav-hover;
		}
	}
}

#mm-ph-nav-div {
	border-color: #e7e7e7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 992px) {
	#mm-nav {
		margin-bottom: 2.5em;
	}
	#mm-nav-font {
		font-size: 2.7em;
	}
	#mm-ph-nav-div {
		border-width: 0px;
	}
}

/*=========         Footer         ==========*/

footer {
	> .container {
	height: 100%;
	}
	color: #848484;
	background-color: $mm-ft-grey;
	p {
		margin: 0;
	}
	a {
		color: #848484;
		 &:hover {
				color: #222;
				text-decoration: none;
		}
	}
	span:last-child {
		float: right;
	}
}

#footer {
	height: 3.5em;
}

@media (max-width: 767px) {
	footer p {
		padding-top: 1.1em;
	}
	#mm-ft-com {
		font-size: 1em;
		text-align: left;
		margin: 0;
	}
	#mm-ft-cont {
		font-size: 0.8em;
		text-align: right;
		margin-top: 0.4em;
		a {
			margin-left: 0.7em;
		}
	}
}

@media (min-width: 992px) {
	footer p {
		padding-top: 0.5em;
	}
	#mm-ft-com {
		font-size: 1.8em;
		text-align: left;
		margin: 0;
	}
	#mm-ft-cont {
		font-size: 1.2em;
		text-align: right;
		margin-top: 0.5em;
		a {
			margin-left: 0.7em;
		}
	}
}


/*==================================================
=                     Shared                       =
==================================================*/


/*==========    Form and Errors    ==========*/

#mm-err {
	ul {
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: red;
	}
}
		



/*==================================================
=                       Home                       =
==================================================*/


/*=========       Index page       ==========*/

/* Index section 01 */

#home01 {
	background: url('/images/dark_menu.jpg');
	background-position: center top;
	margin-top: -2.5em;
	.row {
		&:last-of-type {
			margin-bottom: 2.5em;
			a:hover {
				text-decoration: none;
			}
		}
	}

	.btn-primary {
		color: #a8a8a8;
		background-color: white;
		font-size: 1.2em;
		font-weight: bold;
		text-align: left;
		border-radius: 4px;
		&:hover {
			background-color: $mm-bg-title;
		}
	}
}

h1#mm-index-h1 {
	color: white;
	font-size: 5em;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	margin-top: -0.1em; 
	margin-bottom: 0.2em;
}

h2#mm-index-h2 {
	color: white;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-top: 3em;
}

@media (min-width: 992px) {
	h1#mm-index-h1 {
		font-size: 9em;
	}
	h2#mm-index-h2 {
		font-size: 1.6em;
		margin-top: 5em;
	}
}

button#mm-index-btn {
	background-color: white;
	border-width: 0px;
	border-radius: 4px;
	color: #a8a8a8;
	font-weight: bold;
	font-size: 1.2em;
	&:focus {
		outline: none;
	}
	span {
		float: right;
		color: black;
	}
	.glyphicon {
		line-height: inherit;
		font-weight: bold;
	}
}

/* Index section 02 */

#home02 {
	.row {
		margin-top: 1.5em;
		p {
			font-size: 2.8em;
		}
		.col-md-8 {
			padding-left: 30px;
		}
	}
}

@media (max-width: 767px) {
	h3.mm-index-h3 {
		font-size: 1em;
	}
}
	
@media (min-width: 992px) {
	#home02 .row p {
		font-size: 4.8em;
		margin-top: 0.3em;
	}
	h3.mm-index-h3 {
		font-size: 1.5em;
	}
}

/* Index section 03 */

#home03 {
	background-color: $mm-bg-title;
}

#mm-index-step-title {
	padding: 1em 1.2em 0.5em;
}

h4#mm-index-h4 {
	font-size: 0.8em;
}

h5#mm-index-h5 {
	font-size: 2em;
	font-weight: bold;
}

@media (max-width: 767px) {
	h5#mm-index-h5 {
		margin-top: -0.3em;
	}
}

@media (min-width: 992px) {
	#mm-index-step-title {
		padding: 2em;
	}
	h4#mm-index-h4 {
		font-size: 1.4em;
	}
	h5#mm-index-h5 {
		font-size: 3.5em;
	}
}

/* Index section 04 */

#home04 {
	background-color: $mm-bg-grey;
	padding-bottom: 3em;
	a:hover {
		text-decoration: none;
	}
}

.intro-image1,
.intro-image2,
.intro-image3 {
	background-color: white;
	border-radius: 20px;
}

.intro-image1 {
	height: 270px;
}
.intro-image2 {
	height: 460px;
}
.intro-image3 {
	height: 600px;
}

.mm-index-step-contents {
	p {
		text-align: center;
	}
}

#mm-index-btn2 {
	background-color: $mm-mc-orange;
	border-color: #dd4814;
	font-weight: bold;
	&:hover {
		background-color: $mm-mc-org-d;
		border-color: $mm-mc-org-d;
		text-decoration: none;
	}
	&:active {
		box-shadow: none;
	}
	&:focus {
		background-color: $mm-mc-org-d;
		border-color: $mm-mc-org-d;
		outline: none;
	}
}

@media (max-width: 767px) {
	h6.mm-index-h6 {
		font-size: 2em;
		padding: 0.4em 15px;
	}
	.mm-index-step-contents {
		padding: 1.4em 0 0;
		p {
			font-size: 1.5em;
		}
	}
	#mm-index-btn2 {
		margin-top: 1em;
	}
}

@media (min-width: 992px) {
	h6.mm-index-h6 {
		font-size: 3em;
		padding: 0.6em 15px;
	}
	.mm-index-step-contents {
		padding: 4em 0 0;
		p {
			font-size: 2.3em;
		}
	}
	h6.mm-index-h6-2nd {
		text-align: right;
	}
	#mm-index-btn2 {
		margin-top: 3em;
		height: 3em;
		font-size: 1.3em;
	}
}

/*=========       Manual page      ==========*/

.manual {
	padding: 20px;
	&:first-child {
		padding: 40px;
	}
	legend {
		font-size: 30px;
		margin: 30px 0px;
	}
	.thumnail {
		text-align: center;
		img.link-image {
			height: 250px;
			width: 250px;
		}
	}
	/* Each manual part */
	> .container {
		> .each-manual {
			background-color: #F3F3F3;
			padding: 30px;
			margin: 20px;	
			border: solid;
			border-radius: 10px;
			border-color: #F3F3F3;
			> .title {
				border-bottom: solid;
				border-bottom-color: white;
				h3 {
				font-size: 20px;
				}
			}
			> .contents {
				padding: 20px;
				p {
				}
			}
		}
	}
}

/*=========        Help page       ==========*/

#mm-help {
	margin: 0 -0.5em 1em;
	padding: 0 0 0.5em;
	background-color: $mm-bg-grey;
	border-radius: 10px;
}

#mm-help-title {
	background-color: $mm-bg-title;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#mm-help-h1 {
	margin: 0;
	padding: 0 0.3em 0.3em;
	font-size: 2em;
	font-weight: bold;
}

#mm-help-h2 {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}

.mm-help-h3 {
	margin: 0.7em 0.5em 0.5em;
	font-size: 1.2em;
	padding: 0.2em 0.2em 0.8em;
	border-bottom: 1px solid;
	border-color: white;
	line-height: 1.5em;
	&:hover {
		cursor: pointer;
	}
}

.mm-help-cts {
	margin: 0 0.5em 0.5em;
	padding: 0.5em;
	font-size: 1em;
	background-color: white;
	border-radius: 0.5em;
}
	
@media (min-width: 992px) {
	#mm-help-h1 {
		padding: 0 0.4em 0.5em;
	}
	#mm-help-h2 {
		padding: 1em;
	}
	#mm-help-h3 {
		font-size: 1.3em;
		padding: 0.2em 0.3em 0.8em;
	}

}

/*=========      Search page       ==========*/

.home-search {
	padding: 0 10px;
	.col-md-8 {
		padding: 0;
	}
}

.home-search > .col-md-8 > .col-md-10 {
	border-style: solid;
	border-radius: 10px;
	border-color: $mm-bg-grey;
	background-color: $mm-bg-grey;
	padding: 2em 0.8em 0.8em;
	h2#mm-search-h2 {
		font-size: 1.1em;
		margin: 0;
	}
	h1#mm-search-h1 {
		font-size: 2.35em;
		margin-top: 0.3em;
		border-bottom: solid 1px $mm-border-grey;
		padding-bottom: 0.2em;
	}
	.form-horizontal .form-group {
		margin: 0 0 1em;
	}
	label {
		padding: 0;
	}
	#mm-search-addr {
		margin-bottom: 0.5em;
	}
	.mm-search-input {
		padding: 0;
	}
	#mm-search-rdbtn {
		margin: 0;
		padding: 0;
		label {
			margin: 0;
			font-weight: initial;
			float: right;
		}
		input {
			float: right;
			margin: 0.2em;
		}
	}
	.left-category {
		padding: 0 0.4em 0 0;
	}
	.right-category {
		padding: 0 0 0 0.4em;
	}
	.mm-search-btns {
		float: right;
		> .col-md-10 {
			padding-right: 0;
		}
	}
}

@media (min-width: 992px) {
	.home-search > .col-md-8 > .col-md-10 {
		padding: 3em 3em 1em;
		label { 
			padding: 0.5em 1em;
		}
		#mm-search-h1 {
			font-size: 2.6em;
			margin-bottom: 0.5em;
			padding-bottom: 0.3em;
		}
		#mm-search-rdbtn {
			margin-bottom: 0.5em;
			label {
				padding-left: 0.3em;
			}
			input {
				margin: 0.7em 0;
			}
		}
	}
}


/*==================================================
=                      Users                       =
==================================================*/


/*=========      Signup page       ==========*/

#mm-field-legend {
	font-size: 2.4em;
	margin-bottom: 0.5em;
}

#mm-field-h1 {
	font-size: 0.9em;
	margin-bottom: 0.5em;
	.mm-logo-font {
		font-size: 1.4em;
	}
}

.mm-field {
	padding: 0 10px;
	> .col-md-8 {
		padding: 0;
		> .col-md-10 {
			border-style: solid;
			border-radius: 10px;
			border-color: $mm-bg-grey;
			padding: 0 0.8em 0.8em;
			background-color: $mm-bg-grey;
			input, textarea, select {
				border: 1px solid #bbb;
				width: 100%;
				margin-bottom: 15px;
				@include box_sizing;
			}
			input {
				height: auto !important;
			}
		}
	}
}


/*=========       Login page       ==========*/
/*
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
*/
/*=========  Index page for users  ==========*/
/*
.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid grey;
	}
}
*/


/*==================================================
=                   Restaurants                    =
==================================================*/


/*=========    Restaurants Post    ==========*/

.mm-post {
	padding: 0;
}

.mm-post-in {
	padding: 0.5em 0.5em 0em;
	border-radius: 0.5em;
	h2 {
		margin: 0;
	}
} 

.mm-sd-pdd {
	padding: 0;
}

li.disabled {
	display: none;
}

.mm-rest-info-row {
	margin: 0;
}

.mm-rest-info {
	max-width: 600px;
	background-color: white;
	border-radius: 0.5em;
	margin: 1em 0 0.5em;
	box-shadow: 0.3em 0.5em 0.5em $mm-border-grey;
	&:hover, &:active {
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 
											0 0 8px rgba(19, 130, 255, 0.6);
	}
	&:first-child {
		margin-top: 0;
	}
	a:hover {
		text-decoration: none;
		color: white;
	}
	.mm-rest-info-title {
		background-color: #f0f0f0;
		border-radius: 0.5em 0.5em 0 0;
		padding: 0.8em 1.3em 0.5em;
		&:hover, &:active {
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 
												0 0 8px rgba(19, 130, 255, 0.6);
		}
		h2.mm-rest-name {
			font-size: 1.5em;
			font-weight: bold;
			color: #6f6d6d;
		}
	}
	.mm-rest-info-cts {
		border-bottom: solid 1px $mm-border-grey;
		.mm-rest-info-img {
			height: 20px;
		}
		.mm-rest-info-tb {
			padding: 5px;
			color: #6f6d6d;
			th {
				min-width: 3em;
			}
		}
	}
	.mm-rest-info-ft {
		text-align: right;
		padding: 0.2em 0.5em 0.4em;
	}
}

.mm-rest-info-label {
	margin: 0.3em;
}

@media (min-width: 768px) {
	.mm-post-in {
		padding: 0 2em;
	}
}

@media (min-width: 992px) {
	.mm-post {
		margin-top: -1.5em;
	}
	.mm-post-in {
		padding: 0 4em;
		.mm-rest-info {
			margin: 2em 0;
			.mm-rest-info-title {
				padding: 1em 2em;
				h2.mm-rest-name {
					font-size: 1.8em;
				}
			}
			tr {
				line-height: 2em;
				td {
					padding: 0 0.5em;
					span {
						.glyphicon {
							padding: 0 0.5em;
						}
					}
				}
			}
			.mm-rest-info-ft {
				padding: 0.7em;
				span.label {
					margin: 0.5em;
				}
			}
		}
	}
	.mm-post-in {
		&:first-child {
			margin-top: 0;
		}
	}
}

/* pagination part */

.mm-wpg {
	text-align: center;
	max-width: 600px;
}

.pagination {
	margin: 0;
	ul.pagination {
		margin: 1em 0;
		a {
			color: $mm-mc-orange;
			border: solid 1px #dddddd;
			font-weight: bold;
			&:hover, &:focus {
				color: $mm-mc-org-d;
				background-color: #eeeeee;
				border-color: #dddddd;
			}
		}
		li.active a {
			background-color: #f5f5f5;
			color: #aea79f;
		}
	}
}

@media (min-width: 992px) {
	.pagination ul.pagination {
		margin: 0.5em 0 1.5em;
	}
}
