<!-- flash -->
<div class="container mm-flash-con mm-flash-con-<%= yield(:page) %>">
	<% if flash.any? %>
		<% flash.each do |msg_type, msg| %>
			<%= content_tag :div, class: "alert alert-#{msg_type}" do %>
				<%= msg %>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			<% end %>
		<% end %>
	<% end %>
</div>
