<!-- Footer -->
<footer id="footer">
	<div class="container">
		<p>
			<span id="mm-ft-com">ValueMap Company</span>
			<span id="mm-ft-cont">
				<%= link_to "About",   '#' %>
				<%= link_to "Contact", '#' %>
			</span>
		</p>
	</div>
</footer>
